<div class="initiative-list">
  <div class="round" *ngIf="started">Round: {{round}}</div>
  <div class="round small" *ngIf="!started && initiativeList.length < 2" ><span>Add More Combatants To Begin</span></div>
  <div class="round" *ngIf="!started && initiativeList.length > 1">Ready To Begin</div>
  <div class="list-items">
    <tti-list-item *ngFor="let entry of initiativeList" [entry]="entry" [index]="getIndex(entry)" (removeCombatant)="removeItem($event)">
    </tti-list-item>
  </div>
</div>

