


.list-item {
  width: calc(100% - 26px);
  height: 25px;
  border: solid 3px #3A3A8F;
  color: #1A1A4F;
  font-size: 28px;
  font-weight: 600;
  background-color: #CACAEF;
  padding: 10px;
  .order {
    font-size: 32px;
    font-weight: 600;
    position: relative;
    top: -35px;
    left: 150px;
  }
  .close-item {
    float: right;
    height: 50px;
    margin-top: 0;
    top: -75px;
    position: relative;


    button {
      background: none;
      border: none;
      i {
        font-size: 28px;
        color: #1A1A4F;
      }
    }
  }
}

.list-item[id = "0"]{
  background-color: #8acfcf;
  color:#055050;
  border: solid 3px #3a8f8f;
  height: 100px;
  .order {
    font-size: 64px;
    font-weight: 600;
    position: relative;
    top: 0;
  }
  .close-item {
    float: right;
    height: 50px;
    margin-top: 0;
    top: -110%;
    position: relative;
    button {
      i {
        font-size: 28px;
        color: #055050;
      }
    }
  }
}


